.btn {
  background-color: transparent;
  border: 0.1rem solid #fff;
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 1rem; padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 20rem;
  &:hover {
    @include transition(transform, .5s ease);
    @include transition(font-size, 3.4rem);
    background-color: #fff;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    color: #000;
    cursor: pointer;
  }
  &[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
}

