/*------------------------------------*\
  $ POSITION
\*------------------------------------*/
.relative-pos { position: relative }
.absolute-pos { position: absolute }

/*------------------------------------*\
  $ BORDER
\*------------------------------------*/
.no-border { border: none }

/*------------------------------------*\
  $ LINKS
\*------------------------------------*/
.no-underline, .no-underline a {  text-decoration: none;  }

/*------------------------------------*\
  $ LIST
\*------------------------------------*/
.list-reset { list-style-type: none; }

/*------------------------------------*\
  $ RESPONSIVE
\*------------------------------------*/
.responsive-img {
  width: 100%;
  height: auto;
}
